.navbar {
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  display: grid;
  font-family: FuturaBkBT;
  grid-template-columns: 1fr 200px 1fr;
}

.navbar > :nth-child(1) {
  order: 4;
}

.navbar > :nth-child(2) {
  order: 2;
}

.navbar > :nth-child(3) {
  order: 1;
}

.navbar > :nth-child(4) {
  order: 3;
}

.menu-toggle {
  display: none;
}

.menu {
  display: flex;
  text-transform: lowercase;
  padding-left: 10px;
  float: left;
}

.link {
  text-decoration: none;
}

.menu-item {
  display: inline;
  text-decoration: none;
  color: black;
  list-style: none;
  margin-right: 25px;
}
.menu-item:hover {
  transform: scale(1.25);
  color: black;
}
a:hover {
  text-decoration: none;
}
.active {
  font-weight: bold;
  /* border-bottom: 2px solid black; */
}

/* .active::after {
  content: '';
  display: block;
  border-bottom: 2px solid black;
} */

.tools {
  display: flex;
  margin-left: auto;
  float: right;
}

.tool-item {
  display: inline-block;
  padding: 3px 10px;
}

.tool-item:hover {
  transform: scale(1.25);
  color: black;
}

.logo {
  margin: 0 auto;
}

.badge {
  display: inline;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
  }
  .navbar > :nth-child(2) {
    order: 1;
  }
  .navbar > :nth-child(1) {
    order: 1;
  }
  .navbar-collapse {
    flex-basis: 50%;
  }
}
