#addColorBtn,
#findStyleBtn {
  background-color: #ffffff !important;
}
#orderContainer {
  margin-bottom: 400px !important;
}
.order-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}
#paginationLink:hover {
  color: black !important;
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
#relevantProduct {
  cursor: pointer;
  color: black !important;
}
#reviewsHr {
  background-color: black;
  height: 2px;
  width: 50%;
  margin-left: 1.5rem !important;
}
.modal-dialog {
  margin: 1.75rem auto !important;
}
.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  border: 3px solid #1d1717;
  text-indent: 0;
  cursor: pointer;
  /* border: none; */
  border-radius: 50%;
  background-color: #ffffff;
  /* background-image: url('./assets/images/navigation/icon-menu.svg'); */
  /* box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);     */
}
.carousel{
  height: 78vh !important;
}
.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: #1d1717;
}
.carousel__title, .carousel__subtitle,.home-btn{
  font-family: FuturaLtBT;
}
.menu{
  text-transform: none !important;
}
.custom-size-button{
  border-radius: 10%;
}
.custom-size-button:hover{
  color: white;
  background-color: black;
}
.filter-input{
  height: initial !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}