#addColorBtn,
#findStyleBtn {
  background-color: #ffffff !important;
}
#orderContainer {
  margin-bottom: 400px !important;
}
.order-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}
#paginationLink:hover {
  color: black !important;
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
#relevantProduct {
  cursor: pointer;
  color: black !important;
}
#reviewsHr {
  background-color: black;
  height: 2px;
  width: 50%;
  margin-left: 1.5rem !important;
}
.modal-dialog {
  margin: 1.75rem auto !important;
}
.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  border: 3px solid #1d1717;
  text-indent: 0;
  cursor: pointer;
  /* border: none; */
  border-radius: 50%;
  background-color: #ffffff;
  /* background-image: url('./assets/images/navigation/icon-menu.svg'); */
  /* box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);     */
}
.carousel{
  height: 78vh !important;
}
.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: #1d1717;
}