/*! CSS Used from: https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
section{display:block;}
h1,h2{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
h1,h2{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h1{font-size:2.5rem;}
h2{font-size:2rem;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
h2,p{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
/*! CSS Used from: http://localhost:3000/styles/index.css */
p{margin-bottom:0.85rem;}
/*! CSS Used from: Embedded */
p{margin-bottom:0.85rem;}
/*! CSS Used from: Embedded */
/* *,::after,::before{box-sizing:border-box;}
section{display:block;}
h1,h2{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
h1,h2{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h1{font-size:2.5rem;}
h2{font-size:2rem;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
h2,p{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
p{margin-bottom:0.85rem;}
p{margin-bottom:0.85rem;}
@media all{
section{display:block;}
h1{font-size:2em;margin:0.67em 0;}
@media print{
*,*::before,*::after,*::first-letter,*::first-line{text-shadow:none!important;box-shadow:none!important;-moz-box-shadow:none!important;-webkit-box-shadow:none!important;}
p,h2{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
*,*::before,*::after{box-sizing:inherit;}*/
h1,h2{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
h1,h2{margin-bottom:0.5rem;font-family:inherit;font-weight:700;line-height:1.1;color:inherit;}
h1{font-size:1.375rem;}
h2{font-size:1.25rem;}
p{font-size:16px;color:#777777;font-weight:400;}

*{padding:0;margin:0;}
/* /*! CSS Used from: Embedded  */
*{padding:0;margin:0;} 