/*! CSS Used from: https://www.nadaasi.fi/themes/PRS01/assets/css/theme.css ; media=all */
@media all{
    footer,header,section{display:block;}
    h1{font-size:2em;margin:0.67em 0;}
    @media print{
    *,*::before,*::after,*::first-letter,*::first-line{text-shadow:none!important;box-shadow:none!important;-moz-box-shadow:none!important;-webkit-box-shadow:none!important;}
    thead{display:table-header-group;}
    tr{page-break-inside:avoid;}
    p,h2{orphans:3;widows:3;}
    h2{page-break-after:avoid;}
    }
    *,*::before,*::after{box-sizing:inherit;}
    h1,h2{margin-top:0;margin-bottom:.5rem;}
    p{margin-top:0;margin-bottom:1rem;}
    ol{margin-top:0;margin-bottom:1rem;}
    table{border-collapse:collapse;background-color:transparent;}
    h1,h2{margin-bottom:0.5rem;font-family:inherit;font-weight:700;line-height:1.1;color:inherit;}
    h1{font-size:1.375rem;}
    h2{font-size:1.25rem;}
    .container{margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;}
    @media (min-width: 992px){
    .container{padding:0;}
    }
    .container::after{content:"";display:table;clear:both;}
    @media (min-width: 544px){
    .container{max-width:576px;}
    }
    @media (min-width: 768px){
    .container{max-width:720px;}
    }
    @media (min-width: 992px){
    .container{max-width:940px;}
    }
    @media (min-width: 1200px){
    .container{max-width:1180px;}
    }
    .col-sm-12,.col-md-6{position:relative;min-height:1px;padding-right:10px;padding-left:10px;}
    @media (min-width: 544px){
    .col-sm-12{float:left;width:100%;}
    }
    @media (min-width: 768px){
    .col-md-6{float:left;width:50%;}
    }
    p{font-size:16px;color:#777777;font-weight:400;}
    .page-content.page-cms{padding:0;text-align:justify;}
    #content-wrapper > section#main{float:left;width:100%;}
    #main .page-header{margin-bottom:1.5625rem;}
    #main .page-content{margin-bottom:1.5625rem;text-align:left;}
    #main .page-footer{margin-bottom:20px;float:left;width:100%;}
    @media (max-width: 991px){
    .container{max-width:740px;}
    }
    #content{float:left !important;width:100%!important;text-align:center!important}
    .tt-innerpagetitle{color:#777777;font-size:22px;font-weight:500;line-height:24px;margin:0 auto 25px;padding:0;position:relative;text-align:left;text-transform:capitalize;}
    @media (max-width: 767px){
    .container{max-width:100%;}
    }
    }
    /*! CSS Used from: https://www.nadaasi.fi/themes/PRS01/assets/css/custom.css ; media=all */
    @media all{
    .size-info-table-eu,.size-info-table{width:100%;margin-bottom:40px;}
    .size-info-table-eu td{padding:10px;border:1px solid #e4e4e4;text-align:center;}
    .size-info-table-eu thead td{font-weight:700;}
    .size-info-table td{padding:10px;border:1px solid #e4e4e4;border-width:0px 1px 1px 0px;}
    .size-info-table thead td{text-align:center;font-weight:700;}
    .size-info-table tbody tr td:first-child{font-weight:700;}
    .page-header{display:none;}
    @media (max-width: 767px){
    .size-info-table td{padding:4px!important;}
    }
    }