.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10%;
  background-color: #1d1717;
  color: #afadad !important;
  font-size: 0.5em;
  padding: 2% 9%;
  justify-items: end;
}

.footer > div > p {
  color: #ffffff;
}

.footer-company {
  font-family: FuturaLtBT;
}

.footer-company > p > img {
  margin-right: 10px;
  /* transform: translateY(8px); */
}

.footer-info {
  font-family: FuturaLtBT;
  justify-items: end;
}

.footer-personal {
  font-family: FuturaLtBT;
}

.footer-personal > p > a,
.footer-info > p > a {
  color: #afadad !important;
  text-decoration: none;
}

.mailto {
  color: #afadad !important;
}

.mailto:hover {
  text-decoration: underline;
  color: #fff;
  text-decoration-color: #333;
}
.mailto > img {
  margin-right: 10px;
}
@media screen and (min-width: 767px) {
  .img-margin {
    margin-bottom: 30px;
  }
  .p-margin{
    margin-bottom: 38px;
  }
  .footer-top{
    margin-top: 20px;
  }
  .footer-text {
    margin-block-end: auto;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: block;
    padding: 4% 8%;
  }
}
